<header class="app-header">
  <div class="header-left">
    <div class="logo">IQ</div>

    <div class="application-name">Commercial Property Quote Portal</div>
  </div>

  <div class="header-right">
    <button class="header-icon-button" title="Notifications">
      <mat-icon>notifications_none</mat-icon>
    </button>

    <button class="header-icon-button" title="Help">
      <mat-icon>help_outline</mat-icon>
    </button>

    <div class="profile">
      <div class="profile-avatar">J</div>

      <span class="profile-name"> John </span>
    </div>
  </div>
</header>
