<div class="menu-header">
  <mat-icon>business</mat-icon>
  <span>Quote Portal</span>
</div>

<mat-nav-list>

  <a
    mat-list-item
    routerLink="/quotes"
    routerLinkActive="active-link">
    <mat-icon matListItemIcon>description</mat-icon>
    <span matListItemTitle>Quotes</span>
  </a>

  <a
    mat-list-item
    routerLink="/dashboard"
    routerLinkActive="active-link">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>

</mat-nav-list>